.auth-container, .profile-container {
  width: 350px;
  margin: 5rem auto;
  padding: 2rem;
  background: #fff3e0;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.auth-container input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: orange;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: darkorange;
}
